Repository asdeveloop/persian-tools: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, vitest --run --bail=1 --passWithNoTests

.lintstagedrc.json:

{
  "*.{ts,tsx,js,jsx}": [
    "eslint --fix",
    "prettier --write",
    "vitest --run --bail=1 --passWithNoTests"
  ],
  "*.json": ["prettier --write"],
  "*.md": ["prettier --write"]
}

chore: finalize phase 1 verification
  components/home/PopularTools.tsx
  docs/development-remaining-tasks.md
  prisma/reset-seed.ts
Due: eslint --fix, prettier --write, vitest --run --bail=1 --passWithNoTests

chore: ignore local mcp logs
  .gitignore
Due: none

chore: add mcp start script
  .gitignore
  mcp-config.toml
  package.json
  pnpm-lock.yaml
  scripts/mcp-start.sh
Due: prettier --write

feat(pwa): add update prompt flow and docs
  README.md
  components/ui/ServiceWorkerRegistration.tsx
  docs/operations.md
  playwright.config.ts
  public/sw.js
  tests/e2e/offline.spec.ts
Due: eslint --fix, prettier --write, vitest --run --bail=1 --passWithNoTests

docs: mark phase4 pwa tasks complete
  docs/development-remaining-tasks.md
Due: prettier --write

chore(pwa): fix lint and optimize ad slot images
  components/ui/ServiceWorkerRegistration.tsx
  shared/ui/AdSlot.tsx
Due: eslint --fix, prettier --write, vitest --run --bail=1 --passWithNoTests

chore: upgrade tooling and exports for v1.1.0
  .eslintignore
  .github/workflows/ci.yml
  CHANGELOG.md
  README.md
  bench/README.md
  components/ui/OfflineActions.tsx
  docs/api.md
  examples/browser.ts
  examples/finance.ts
  examples/node.ts
  examples/text.ts
  package.json
  pnpm-lock.yaml
  tsup.config.ts
Due: eslint --fix, prettier --write, vitest --run --bail=1 --passWithNoTests

docs: refresh api references and release notes
  CHANGELOG.md
  README.md
  docs/api.md
Due: prettier --write

docs: record post-audit next steps
  docs/development-remaining-tasks.md
  docs/operations.md
Due: prettier --write

feat: rtl fixes, consent gate, csp harden
  components/HomePage.tsx
  components/features/pdf-tools/PdfToolsPage.tsx
  components/ui/Navigation.tsx
  next.config.mjs
  shared/ui/AdSlot.tsx
Due: eslint --fix, prettier --write, vitest --run --bail=1 --passWithNoTests

chore: fix next route types and rtl icon positioning
  app/api/history/share/[token]/route.ts
  app/topics/[category]/page.tsx
  components/HomePage.tsx
Due: eslint --fix, prettier --write, vitest --run --bail=1 --passWithNoTests

feat: rtl fixes, consent gate, csp harden
  shared/ui/AdSlot.tsx
Due: eslint --fix, prettier --write, vitest --run --bail=1 --passWithNoTests

chore: fix next route types and rtl icon positioning
  app/api/history/share/[token]/route.ts
Due: eslint --fix, prettier --write, vitest --run --bail=1 --passWithNoTests

chore: align next config and fix lint
  lib/seo.ts
  lib/tools-registry.ts
  next.config.mjs
  tsconfig.json
Due: eslint --fix, prettier --write, vitest --run --bail=1 --passWithNoTests

chore: add history query helpers and plan upgrade mapping
  app/api/history/route.ts
  app/api/history/share/route.ts
  app/topics/[category]/page.tsx
  components/features/loan/LoanPage.tsx
  components/home/PopularTools.tsx
  components/home/RecentTools.tsx
  components/home/TrustStats.tsx
  lib/seo-tools.ts
  lib/server/csrf.ts
  lib/server/historyShare.ts
  lib/server/rateLimit.ts
  lib/subscriptionPlans.ts
  next-env.d.ts
  shared/analytics/ads.ts
  shared/history/recordHistory.ts
  shared/history/share.ts
  shared/history/types.ts
  shared/monetization/useSubscriptionStatus.ts
  shared/ui/Input.tsx
  tests/e2e/a11y.spec.ts
  tests/e2e/flows-positive.spec.ts
  tests/unit/csrf.test.ts
  tests/unit/date-tools.test.ts
  tests/unit/history-share.test.ts
  tests/unit/history.test.ts
  tests/unit/pdf-utils.test.ts
  tests/unit/subscriptionPlans.test.ts
  tsconfig.json
Due: eslint --fix, prettier --write, vitest --run --bail=1 --passWithNoTests

chore: fix typecheck stubs and navigation guard
  components/home/PopularTools.tsx
  components/home/RecentTools.tsx
  components/ui/Navigation.tsx
  lib/server/checkouts.ts
  lib/server/db.ts
  lib/server/history.ts
  lib/server/historyShare.ts
  lib/server/rateLimit.ts
  lib/server/sessions.ts
  lib/server/subscriptions.ts
  lib/server/users.ts
  lib/tools-registry.ts
  tests/seo-tools.test.ts
Due: eslint --fix, prettier --write, vitest --run --bail=1 --passWithNoTests

feat: tighten CSP and consent
  README.md
  app/layout.tsx
  app/topics/[category]/page.tsx
  app/topics/page.tsx
  components/HomePage.tsx
  components/ads/AdsConsentBanner.tsx
  components/features/date-tools/DateToolsPage.tsx
  components/features/loan/LoanPage.tsx
  components/features/salary/SalaryPage.tsx
  components/features/text-tools/TextToolsPage.tsx
  components/features/validation-tools/ValidationToolsPage.tsx
  components/seo/ToolSeoContent.tsx
  components/ui/ServiceWorkerRegistration.tsx
  docs/development-remaining-tasks.md
  docs/operations.md
  lib/csp.ts
  lib/server/checkouts.ts
  lib/server/sessions.ts
  lib/server/users.ts
  middleware.ts
  next.config.mjs
  shared/ui/ToastProvider.tsx
  shared/ui/toast-context.ts
  tsconfig.json
Due: eslint --fix, prettier --write, vitest --run --bail=1 --passWithNoTests

docs: refactor documentation and roadmap board
  AGENTS.md
  README.md
  SKILL.md
  docs/api.md
  docs/daily-checklist.md
  docs/index.md
  docs/monetization/roadmap.md
  docs/monetization/strategy.md
  docs/monetization/task-plan.md
  docs/operations.md
  docs/project-standards.md
  docs/roadmap-board.html
  docs/roadmap.md
  docs/technical-audit-summary.md
  docs/technical-audit-summary.pptx
  docs/technical-audit.md
  skill.toml
Due: prettier --write

feat: add roadmap board route
  README.md
  app/roadmap-board/page.tsx
  docs/index.md
  docs/roadmap.md
  public/roadmap-board.html
Due: eslint --fix, prettier --write, vitest --run --bail=1 --passWithNoTests

feat: add deployment roadmap
  README.md
  app/deployment-roadmap/page.tsx
  docs/deployment-roadmap.html
  docs/deployment-roadmap.md
  docs/index.md
  public/deployment-roadmap.html
Due: eslint --fix, prettier --write, vitest --run --bail=1 --passWithNoTests

feat: enhance deployment roadmap board
  docs/deployment-roadmap.html
  public/deployment-roadmap.html
Due: none

feat: complete roadmap phases 1-4 with validated updates
  app/layout.tsx
  app/topics/[category]/page.tsx
  app/topics/page.tsx
  components/HomePage.tsx
  components/features/monetization/AdsTransparencyPage.tsx
  components/features/pdf-tools/PdfToolsPage.tsx
  components/features/tools-dashboard/ToolsDashboardPage.tsx
  components/seo/ToolSeoContent.tsx
  docs/api.md
  docs/index.md
  docs/roadmap-board.html
  docs/roadmap.md
  docs/snapshots/2026-02-06-phase1-4-progress.md
  features/pdf-tools/extract/extract-pages.tsx
  features/pdf-tools/lazy-deps.test.ts
  features/pdf-tools/lazy-deps.ts
  features/pdf-tools/merge/merge-pdf.tsx
  features/pdf-tools/split/split-pdf.tsx
  lib/csp.ts
  playwright.config.ts
  public/manifest.webmanifest
  public/sw.js
  tests/e2e/offline.spec.ts
  tests/e2e/tools.spec.ts
  tests/unit/exports.test.ts
  tsconfig.json
Due: eslint --fix, prettier --write, vitest --run --bail=1 --passWithNoTests

chore(phase5): finalize docs flow, stabilize baseline, and migrate proxy
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/PULL_REQUEST_TEMPLATE.md
  AGENTS.md
  CONTRIBUTING.md
  README.md
  app/globals.css
  docs/developer-guide.md
  docs/index.md
  docs/operations.md
  docs/project-standards.md
  docs/review-policy.md
  docs/roadmap.md
  docs/snapshots/2026-02-06-phase5-complete-handoff.md
  docs/snapshots/2026-02-06-phase5-kickoff.md
  docs/technical-audit.md
  features/image-tools/image-tools.tsx
  lib/tools-registry.ts
  next.config.mjs
  proxy.ts
  tests/e2e/flows-positive.spec.ts
  tests/e2e/home.spec.ts
  tests/e2e/tools.spec.ts
  tsconfig.json
Due: eslint --fix, prettier --write, vitest --run --bail=1 --passWithNoTests

docs: complete phase 7 execution and sync roadmap board
  docs/index.md
  docs/monetization/2026-02-monthly-report.md
  docs/monetization/2026-03-monthly-close-checklist.md
  docs/monetization/2026-03-monthly-report.md
  docs/monetization/2026-q1-backlog.md
  docs/monetization/2026-q1-close-checklist.md
  docs/monetization/2026-q1-close-execution-plan.md
  docs/monetization/2026-q1-kpi-review.md
  docs/monetization/admin-security-checklist.md
  docs/monetization/kpi-alerting-escalation.md
  docs/monetization/kpi-governance.md
  docs/monetization/monthly-close-runbook.md
  docs/monetization/monthly-report-template.md
  docs/monetization/phase7-execution-plan.md
  docs/monetization/quarterly-close-runbook.md
  docs/monetization/review-to-backlog-flow.md
  docs/monetization/roadmap.md
  docs/monetization/scale-hold-rollback-playbook.md
  docs/monetization/task-plan.md
  docs/roadmap-board.html
  docs/roadmap.md
  docs/snapshots/2026-02-06-phase6-kickoff.md
  docs/snapshots/2026-02-06-phase7-complete-handoff.md
  docs/snapshots/2026-02-06-phase7-execution-savepoint.md
  docs/snapshots/2026-02-06-phase7-kickoff.md
Due: prettier --write
