Repository asdeveloop/persian-tools: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, vitest --run --bail

fix(date-tools): prevent render loop and stabilize e2e
  OPERATIONS.md
  README.md
  app/(tools)/date-tools/page.tsx
  app/(tools)/text-tools/page.tsx
  app/dashboard/page.tsx
  app/layout.tsx
  app/offline/page.tsx
  app/sitemap.ts
  components/HomePage.tsx
  components/features/date-tools/DateToolsPage.tsx
  components/features/loan/LoanPage.tsx
  components/features/salary/SalaryPage.tsx
  components/features/text-tools/TextToolsPage.tsx
  components/features/usage-dashboard/UsageDashboardPage.tsx
  components/ui/Footer.tsx
  components/ui/MotionProvider.tsx
  components/ui/Navigation.tsx
  components/ui/ServiceWorkerRegistration.tsx
  components/ui/UsageTracker.tsx
  features/date-tools/README.md
  features/date-tools/date-tools.logic.test.ts
  features/date-tools/date-tools.logic.ts
  features/pdf-tools/convert/image-to-pdf.tsx
  features/pdf-tools/convert/pdf-to-image.tsx
  features/pdf-tools/lazy-deps.ts
  features/pdf-tools/security/decrypt-pdf.tsx
  public/sw.js
  shared/analytics/localUsage.ts
  shared/ui/icons.tsx
  shared/utils/number.ts
  tests/e2e/home.spec.ts
  tests/e2e/routes.spec.ts
  tests/e2e/tools.spec.ts
Due: eslint --fix, prettier --write, vitest --run --bail

feat: describe your change briefly
  .eslintignore
Due: none

feat: improve offline flow and tool stability
  .gitignore
  app/offline/page.tsx
  components/features/date-tools/DateToolsPage.tsx
  components/features/text-tools/TextToolsPage.tsx
  components/ui/OfflineActions.tsx
  components/ui/ServiceWorkerRegistration.tsx
  features/date-tools/date-tools.logic.test.ts
  features/date-tools/date-tools.logic.ts
  features/image-tools/hooks/useImageToolsWorker.ts
  features/image-tools/image-tools.tsx
  features/image-tools/workers/image-tools.worker.ts
  features/loan/loan.logic.test.ts
  features/pdf-tools/compress/compress-pdf.tsx
  features/pdf-tools/convert/image-to-pdf.tsx
  features/pdf-tools/convert/pdf-to-image.tsx
  features/pdf-tools/lazy-deps.ts
  features/pdf-tools/merge/merge-pdf.tsx
  features/pdf-tools/security/decrypt-pdf.tsx
  features/pdf-tools/security/encrypt-pdf.tsx
  features/pdf-tools/split/split-pdf.tsx
  features/pdf-tools/watermark/add-watermark.tsx
  features/pdf-tools/workerClient.ts
  features/pdf-tools/workers/pdf-worker.ts
  features/salary/salary.laws.ts
  features/salary/salary.logic.test.ts
  lib/monitoring.ts
  playwright.config.ts
  public/sw.js
  shared/utils/number.test.ts
  shared/utils/number.ts
  tests/e2e/tools.spec.ts
  tests/setup.ts
  vitest.config.ts
Due: eslint --fix, prettier --write, vitest --run --bail

feat(ui): unify design system styling
  .lintstagedrc.json
  app/globals.css
  app/layout.tsx
  app/manifest.ts
  components/HomePage.tsx
  components/features/date-tools/DateToolsPage.tsx
  components/features/loan/LoanPage.tsx
  components/features/pdf-tools/PdfToolsPage.tsx
  components/features/salary/SalaryPage.tsx
  components/features/text-tools/TextToolsPage.tsx
  components/features/usage-dashboard/UsageDashboardPage.tsx
  components/ui/Container.tsx
  components/ui/Footer.tsx
  components/ui/Navigation.tsx
  components/ui/OfflineActions.tsx
  features/image-tools/components/ImageDropzone.tsx
  features/image-tools/image-tools.tsx
  features/pdf-tools/Placeholder.tsx
  features/pdf-tools/compress/compress-pdf.tsx
  features/pdf-tools/convert/image-to-pdf.tsx
  features/pdf-tools/convert/pdf-to-image.tsx
  features/pdf-tools/merge/merge-pdf.tsx
  features/pdf-tools/security/decrypt-pdf.tsx
  features/pdf-tools/split/split-pdf.tsx
  features/pdf-tools/watermark/add-watermark.tsx
  shared/constants/tokens.ts
  shared/ui/AnimatedComponents.tsx
  shared/ui/Button.tsx
  shared/ui/Card.tsx
  shared/ui/Container.tsx
  shared/ui/Input.tsx
  shared/ui/ToolCard.tsx
  shared/ui/theme.ts
  tailwind.config.ts
Due: eslint --fix, prettier --write, vitest --run --bail

feat(ui): unify design system styling
  app/globals.css
  shared/ui/ToolCard.tsx
Due: eslint --fix, prettier --write, vitest --run --bail

refactor(ui,utils): reorganize shared modules and update imports
  components/HomePage.tsx
  components/features/date-tools/DateToolsPage.tsx
  components/features/loan/LoanPage.tsx
  components/features/pdf-tools/PdfToolsPage.tsx
  components/features/salary/SalaryPage.tsx
  components/features/text-tools/TextToolsPage.tsx
  components/ui/Container.tsx
  components/ui/Navigation.tsx
  components/ui/index.ts
  features/image-tools/components/ImageDropzone.tsx
  features/image-tools/image-tools.tsx
  features/image-tools/utils/format.ts
  features/pdf-tools/convert/pdf-to-image.tsx
  features/pdf-tools/split/split-pdf.tsx
  features/pdf-tools/types.ts
  shared/analytics/index.ts
  shared/constants/index.ts
  shared/constants/tokens.ts
  shared/errors/index.ts
  shared/index.ts
  shared/storage/index.ts
  shared/ui/Button.tsx
  shared/ui/ButtonLink.tsx
  shared/ui/ToolCard.tsx
  shared/ui/buttonStyles.ts
  shared/ui/index.ts
  shared/ui/theme.ts
  shared/utils/index.ts
  shared/utils/localization/index.ts
  shared/utils/localization/persian.ts
  shared/utils/numbers/index.ts
  shared/utils/numbers/number.test.ts
  shared/utils/numbers/number.ts
  shared/utils/persian.ts
Due: eslint --fix, prettier --write, vitest --run --bail

test: expand unit coverage and tighten vitest scope
  features/date-tools/date-tools.logic.test.ts
  features/loan/loan.logic.test.ts
  tests/unit/exports.test.ts
  tests/unit/utils.test.ts
  vitest.config.ts
Due: eslint --fix, prettier --write, vitest --run --bail

chore(build): add library bundling, docs config, and examples
  .eslintignore
  .gitignore
  bench/number.bench.ts
  examples/README.md
  examples/browser.ts
  examples/node.ts
  package.json
  pnpm-lock.yaml
  release.config.cjs
  tsconfig.build.json
  tsconfig.json
  tsup.config.ts
  typedoc.json
Due: eslint --fix, prettier --write, vitest --run --bail

ci(security): add release automation and dependency updates
  .github/dependabot.yml
  .github/workflows/build.yml
  .github/workflows/lint.yml
  .github/workflows/pr.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
  SECURITY.md
  next.config.mjs
Due: prettier --write

docs: refresh project docs and changelog
  ARCHITECTURE.md
  CHANGELOG.md
  CONTRIBUTING.md
  LICENSE
  README.md
  public/manifest.webmanifest
Due: prettier --write

fix(build): stabilize pdfjs worker bundling
  next.config.mjs
Due: none

feat(date-tools): add islamic calendar support and holiday sources
  .eslintrc.cjs
  .github/dependabot.yml
  .github/workflows/build.yml
  .github/workflows/e2e.yml
  .github/workflows/lint.yml
  .github/workflows/pr.yml
  .github/workflows/release.yml
  .github/workflows/security.yml
  .github/workflows/test.yml
  PROJECT_STANDARDS.md
  app/(tools)/date-tools/page.tsx
  app/globals.css
  app/opengraph-image.tsx
  app/twitter-image.tsx
  components/features/date-tools/DateToolsPage.tsx
  features/date-tools/README.md
  features/date-tools/date-tools.logic.test.ts
  features/date-tools/date-tools.logic.ts
  features/date-tools/holiday-sources.md
  features/date-tools/holidays.test.ts
  features/date-tools/holidays.ts
  features/salary/index.ts
  postcss.config.cjs
  shared/errors/base.ts
  shared/ui/LoadingSpinner.tsx
  shared/ui/SimpleAnimations.tsx
  tests/e2e/tools.spec.ts
Due: eslint --fix, prettier --write, vitest --run --bail

feat(pdf-tools): add extract and delete pages tools
  app/(tools)/pdf-tools/edit/delete-pages/page.tsx
  app/(tools)/pdf-tools/extract/extract-pages/page.tsx
  components/features/pdf-tools/PdfToolsPage.tsx
  features/pdf-tools/edit/delete-pages.tsx
  features/pdf-tools/extract/extract-pages.tsx
  features/pdf-tools/utils/pageRanges.ts
  tests/e2e/tools.spec.ts
Due: eslint --fix, prettier --write, vitest --run --bail

feat(pdf-tools): expand edit tools and add validation
  app/(tools)/pdf-tools/edit/reorder-pages/page.tsx
  app/(tools)/pdf-tools/edit/rotate-pages/page.tsx
  app/(tools)/validation-tools/page.tsx
  components/HomePage.tsx
  components/features/pdf-tools/PdfToolsPage.tsx
  components/features/validation-tools/ValidationToolsPage.tsx
  components/ui/Footer.tsx
  components/ui/Navigation.tsx
  features/pdf-tools/edit/reorder-pages.tsx
  features/pdf-tools/edit/rotate-pages.tsx
  features/pdf-tools/types.ts
  features/pdf-tools/utils/pageOrder.ts
  features/pdf-tools/workerClient.ts
  features/pdf-tools/workers/pdf-worker.ts
  shared/utils/index.ts
  shared/utils/validation/index.ts
  shared/utils/validation/iran.ts
  tests/e2e/home.spec.ts
  tests/e2e/routes.spec.ts
  tests/e2e/tools.spec.ts
  tests/unit/validation.test.ts
Due: eslint --fix, prettier --write, vitest --run --bail

feat: describe your change briefly
  components/features/text-tools/TextToolsPage.tsx
  shared/utils/localization/persian.ts
  tests/unit/utils.test.ts
Due: eslint --fix, prettier --write, vitest --run --bail

feat: add tools dashboard and developer hub
  app/(tools)/tools/page.tsx
  app/developers/page.tsx
  components/HomePage.tsx
  components/features/developers/DevelopersPage.tsx
  components/features/tools-dashboard/ToolsDashboardPage.tsx
  components/ui/Navigation.tsx
  next.config.mjs
  tests/e2e/routes.spec.ts
Due: eslint --fix, prettier --write, vitest --run --bail

chore: update docs, pwa, ui, and tests
  ADR-001-component-architecture.md
  ARCHITECTURE.md
  CHANGELOG.md
  CONTRIBUTING.md
  OPERATIONS.md
  PROJECT_STANDARDS.md
  README.md
  SECURITY.md
  components/features/pdf-tools/PdfToolsPage.tsx
  components/features/tools-dashboard/ToolsDashboardPage.tsx
  components/ui/OfflineActions.tsx
  components/ui/index.ts
  examples/README.md
  features/date-tools/README.md
  features/date-tools/holiday-sources.md
  features/image-tools/image-tools.tsx
  public/sw.js
  shared/constants/tokens.ts
  shared/errors/base.ts
  shared/ui/Alert.tsx
  shared/ui/EmptyState.tsx
  shared/ui/LoadingSpinner.tsx
  shared/ui/SimpleAnimations.tsx
  shared/ui/index.ts
  shared/utils/localization/persian.ts
  shared/utils/validation/iran.ts
  tests/e2e/home.spec.ts
  tests/e2e/offline.spec.ts
  tests/e2e/tools.spec.ts
  tests/unit/finance.test.ts
  tests/unit/result.test.ts
  tests/unit/utils.test.ts
  tests/unit/validation.test.ts
  tsconfig.json
Due: eslint --fix, prettier --write, vitest --run --bail

feat: improve ui ux and copy history
  app/(tools)/layout.tsx
  app/globals.css
  app/layout.tsx
  app/not-found.tsx
  components/HomePage.tsx
  components/features/date-tools/DateToolsPage.tsx
  components/features/loan/LoanPage.tsx
  components/features/salary/SalaryPage.tsx
  components/features/text-tools/TextToolsPage.tsx
  components/features/tools-dashboard/ToolsDashboardPage.tsx
  components/features/validation-tools/ValidationToolsPage.tsx
  components/home/PopularTools.tsx
  components/home/RecentTools.tsx
  components/ui/Breadcrumbs.tsx
  components/ui/Navigation.tsx
  shared/analytics/favorites.ts
  shared/ui/Input.tsx
  shared/ui/ToastProvider.tsx
  shared/ui/icons.tsx
  tests/unit/favorites.test.ts
Due: eslint --fix, prettier --write, vitest --run --bail

feat(history): add search and filters to dashboard
  app/api/history/route.ts
  components/features/monetization/AccountPage.tsx
  components/features/monetization/SubscriptionPublicRoadmapPage.tsx
  lib/server/history.ts
  shared/history/recordHistory.ts
  shared/history/types.ts
  tests/unit/history.test.ts
Due: eslint --fix, prettier --write, vitest --run --bail

feat(history): add secure share links and debounce
  app/api/history/route.ts
  app/api/history/share/[token]/route.ts
  app/api/history/share/route.ts
  components/features/monetization/AccountPage.tsx
  components/features/monetization/AdsTransparencyPage.tsx
  components/features/monetization/SubscriptionPublicRoadmapPage.tsx
  lib/server/history.ts
  lib/server/historyShare.ts
  scripts/db/schema.sql
  shared/history/recordHistory.ts
  shared/history/share.ts
  shared/monetization/useSubscriptionStatus.ts
  tests/unit/history-share.test.ts
  tests/unit/history.test.ts
Due: eslint --fix, prettier --write, vitest --run --bail

chore(automation): refine config playbook
  SKILL.md
  automation-playbook.md
  skill.toml
Due: prettier --write

chore(ci): add quick ci script
  automation-playbook.md
  package.json
Due: prettier --write

feat(subscription): add one-click upgrade
  components/features/monetization/AccountPage.tsx
  lib/subscriptionPlans.ts
  tests/unit/subscriptionPlans.test.ts
Due: eslint --fix, prettier --write, vitest --run --bail

chore(docs): track development docs
  .gitignore
  docs/README.md
  docs/development-remaining-tasks.md
Due: prettier --write

chore(docs): track core documentation
  .gitignore
  docs/adr/001-component-architecture.md
  docs/api.md
  docs/architecture.md
  docs/monetization-roadmap.md
  docs/monetization-strategy.md
  docs/monetization-task-plan.md
  docs/operations.md
  docs/privacy-policy.md
  docs/project-standards.md
  docs/roadmap.md
  docs/subscription-plans.md
  docs/subscription-public-roadmap.md
Due: prettier --write

test(e2e): stabilize tool alert assertions
  tests/e2e/home.spec.ts
  tests/e2e/tools.spec.ts
Due: eslint --fix, prettier --write, vitest --run --bail

chore(dev): allow 127.0.0.1 origins
  README.md
  next.config.mjs
Due: prettier --write

feat(home): simplify homepage layout
  components/HomePage.tsx
  docs/development-remaining-tasks.md
Due: eslint --fix, prettier --write, vitest --run --bail

feat(home): add dynamic popular tools and feature blocks
  components/HomePage.tsx
  components/home/PopularTools.tsx
Due: eslint --fix, prettier --write, vitest --run --bail

feat(home): tighten copy and quick paths
  components/HomePage.tsx
Due: eslint --fix, prettier --write, vitest --run --bail

feat(home): add trust block and local usage stats
  components/HomePage.tsx
  components/home/TrustStats.tsx
Due: eslint --fix, prettier --write, vitest --run --bail

feat(pdf): standardize alert titles
  features/pdf-tools/compress/compress-pdf.tsx
  features/pdf-tools/convert/image-to-pdf.tsx
  features/pdf-tools/convert/pdf-to-image.tsx
  features/pdf-tools/edit/delete-pages.tsx
  features/pdf-tools/edit/reorder-pages.tsx
  features/pdf-tools/edit/rotate-pages.tsx
  features/pdf-tools/extract/extract-pages.tsx
  features/pdf-tools/merge/merge-pdf.tsx
  features/pdf-tools/security/decrypt-pdf.tsx
  features/pdf-tools/split/split-pdf.tsx
  features/pdf-tools/watermark/add-watermark.tsx
Due: eslint --fix, prettier --write, vitest --run --bail

feat(ux): refine tools dashboard and form hints
  components/features/tools-dashboard/ToolsDashboardPage.tsx
  features/pdf-tools/convert/pdf-to-image.tsx
  features/pdf-tools/edit/delete-pages.tsx
  features/pdf-tools/edit/reorder-pages.tsx
  features/pdf-tools/edit/rotate-pages.tsx
  features/pdf-tools/extract/extract-pages.tsx
  features/pdf-tools/split/split-pdf.tsx
Due: eslint --fix, prettier --write, vitest --run --bail

docs(roadmap): mark phase 2 complete
  docs/development-remaining-tasks.md
Due: prettier --write

Path conditions:
  eslint --fix: any of: *.{ts,tsx,js,jsx}
  prettier --write: ((any of: *.{ts,tsx,js,jsx}) or (any of: *.json)) or (any of: *.md)
  vitest --run --bail: any of: *.{ts,tsx,js,jsx}
